/* Main colors of the site */

/* цвет основного текста #212121; */
/* вторичный цвет текста #757575; */
/* акцент цвет(он же брендовый) #2196F3;  */
/* белый (фон,текст) #ffffff; */
/* вторичный цвет фона #F5F4FA; */

:root {
  --brand-color-accent: #2196f3;
  --brand-color-header: #000;
  --brand-color-footer: #fff;
  --primary-bg-color: #fff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --title-text-color: #212121;
  --primary-text-color: #757575;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin: 0 auto;
  /* outline: 2px solid tomato; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* background-color: tomato; */
}

/* NAVIGATION */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--brand-color-header);
  text-decoration: none;
}

.logo-first-phrase {
  color: var(--brand-color-accent);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  color: var(--title-text-color);
}

.link:hover,
.link:focus,
.link-current {
  color: var(--brand-color-accent);
}

.header-line {
  border-bottom: 1px solid #ECECEC;
}

.header-position {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* обводка */
/* .site-nav .item {
  outline: 1px solid tomato;
} */

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

/* CONTACT-header */
.site-nav-contact {
  display: flex;
  align-items: center;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-contact .item:not(:last-child) {
  margin-right: 50px;
}

.link-nav-contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  color: var(--primary-text-color);
}

.link-nav-contact:hover,
.link-nav-contact:focus {
  color: var(--brand-color-accent);
}

/* HERO section */
.hero {
  background-color: var(--footer-bg-color);
  text-align: center;
}

.paddington {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  /* padding-top: 200px; */
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #fff;
}

.hero-button {
  padding: 11px 32px;
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: #fff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ADVATAGES section */
.adv-list {
  display: flex;
  flex-wrap: wrap;
}

.adv-list .item {
  width: 270px;
}

.adv-list .item:not(:last-child) {
  margin-right: 30px;
}

.adv-section-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: var(--title-text-color);
}

.adv-section-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* WHAT WE DOING section */
.wwd {
  padding-bottom: 94px;
}

/**заголовки однакові з TEAM section */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.wwd-list {
display: flex;
}

/* .wwd-list .item {
  margin-right: 30px;
} */

.wwd-list .item:not(:last-child) {
  margin-right: 30px;
}

/* TEAM section */
.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-title-team {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* FOOTER */
.site-footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--brand-color-footer);
  text-decoration: none;
}

.logo-first-phrase-footer {
  color: var(--brand-color-accent);
}

.footer-address {
  display: flex;
  flex-wrap: wrap;
  width: 231px;
  gap: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link-footer-map {
  color: #FFFFFF;
  text-decoration: none;
}

.link-footer-contact {
  color: #FFFFFF99;
  text-decoration: none;
}

.link-footer-map:hover,
.link-footer-map:focus,
.link-footer-contact:hover,
.link-footer-contact:focus {
  color: var(--brand-color-accent);
}

/* *PORTFOLIO page */
/* PROJECTS section */
.button-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

}

.button-flex .item + .item {
  margin-left: 8px;
}

.project-button {
  padding: 6px 22px;

  background: var(--secondary-bg-color);
  border-radius: 4px;
  border: 0;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  cursor: pointer;
}


.project-button:hover,
.project-button:focus {
  background: var(--brand-color-accent);
  color: var(--brand-color-footer);

  box-shadow: 
  0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-wrapper {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}

.card-portfolio {
  /* width: 370px; */
  flex-basis: calc((100% - 30px * 2) / 3);
  background: var(--primary-bg-color);
}

.card-portfolio-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.card-portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.link-portfolio {
  text-decoration: none;
}